/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

html {font-size: 1em;}
::-moz-selection {background:#b3d4fc;text-shadow:none;}
::selection {background:#b3d4fc;text-shadow:none;}
audio,canvas,iframe,img,svg,video {vertical-align:middle;}
fieldset {border:0;margin:0;padding:0;}
textarea {resize:vertical;}

/* ==========================================================================
   Custom mural styles
   ========================================================================== */

 body {
   background-color: #000;
   color: #eee;
   font-family: "Jura", arial, sans-serif;
   font-weight: 300;
   line-height: 1.3;
 }

 .mural-container {
   height: 100vh;
   width: 100vw;
   margin: 0 auto;
   position: relative;
   z-index: -1;
   box-sizing: border-box;
   background-color: #000;
 }

 .mural-structure {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 1440px;
   box-sizing: border-box;
   z-index: 10;
   opacity: 0.5;
 }

 .mural-template-photo {
   display: block;
   position: absolute;
   top: 62px;
   left: 108px;
   width: 1128px;
   transform: rotate(6deg) skew(8deg, -14deg);
   box-sizing: border-box;
   z-index: 0;
   opacity: 0.5;
 }

 .mural-content {
   display: block;
   position: relative;
   box-sizing: border-box;
   margin: 77px 0 0 13px;
   width: 1440px;
   height: 100%;
   max-height: 120vh;
   /*overflow-y: hidden;*/
   z-index: 1;
 }

 .mural-content div {
   position: absolute;
 }

 p, span {
   padding: 0;
   margin: 0;
   word-wrap: break-word;
   /*word-break: break-all;*/
   hyphens: auto;
 }

 #top-ledge-real {
   left: 618px;
   top: 88px;
   height: 108px;
   width: 423px;
   /*overflow: hidden;*/
   transform: rotate(-36.2deg);
   color: #d1ceff;
   font-size: 45px;
   line-height: 0.4;
   text-shadow: 0 0 50px #009cff, 0 0 15px #367fff, 0 0 10px #3f77fe, 0 0 7px #817af3, 0 0 3px #b0abff;
 }

 #top-ledge-virtual {
   left: 386px;
   top: 318px;
   height: 75px;
   width: 295px;
   /*overflow: hidden;*/
   transform: rotate(-42.2deg) scale(-1, 1) skew(11.6deg);
   font-size: 41px;
   line-height: 0.7;
   font-weight: 500;
   color: #aafcc8;
   text-shadow: 0 0 50px #00c9ff, 0 0 15px #00a783, 0 0 10px #00ffc9, 0 0 7px #07bc49, 0 0 3px #0ed81e;
 }

 #sub-ledge-real {
   left: 615px;
   top: 132px;
   /*width: 418px;*/
   transform: rotate(-35deg);
   /*text-transform: uppercase;*/
   color: #f697cd;
   text-shadow: 0 0 50px #ed7a19, 0 0 15px #ff0051, 0 0 10px #ff0051, 0 0 7px #ff00c6, 0 0 3px #ff00c6;
   font-size: 24px;
   font-weight: 300;
   line-height: 1.2;
   z-index: 5;
 }

 #orange-wall {
   transform: skew(2.6deg, -35.2deg);
   width: 351px;
   height: 696px;
   overflow: hidden;
   display: block;
   top: 178px;
   left: 676px;
 }

 .lucky-end {
   background-image: url("/img/lucky-end.gif");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: 0% 0%;
   width: 115px;
   height: 134px;
   left: 383px;
   top: 112px;
   transform: rotate(-40deg) skew(25deg);
 }

 .graf-tpf {
   background-image: url("/img/tpf.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: 0% 0%;
   width: 300px;
   height: 543px;
   margin-top: -42px;
 }

 .somasim {
   background-image: url("/img/somasim-highrise.gif");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: 0% 0%;
   width: 400px;
   height: 543px;
   margin: 1px -50px 0;
   opacity: 0.6;
 }

 #wall-video {
   transform: skew(2.6deg, -35.2deg);
   width: 191px;
   height: 405px;
   overflow: hidden;
   display: block;
   top: 371px;
   left: 478px;
   text-align: center;
   margin: 0 auto;
   z-index: 0;
 }

 .trailer {
   width: 415px;
   margin: -30px -110px 0;
   display: block;
 }

 #t2 {
   height: 230px;
   width: 520px;
 }

 #gray-wall {
   transform: skew(-0.2deg, 14.3deg);
   width: 688px;
   height: 190px;
   top: 630px;
   left: 38px;
   padding: 3px 8px;
   box-sizing: border-box;
   display: block;
   background-color: #000;
   text-align: right;
   font-size: 14px;
   font-weight: 300;
   line-height: 1.7;
   letter-spacing: 0.03em;
 }

 #url-link {
   font-size: 27px;
   transform: rotate(-92deg) skew(-17deg);
   color: #fff5de;
   top: 482px;
   left: 460px;
   font-weight: 500;
   text-transform: uppercase;
   text-shadow: 0 0 50px #ed7a19, 0 0 15px #ff0051, 0 0 10px #ff0051, 0 0 7px #ff00c6, 0 0 3px #ff00c6;
 }

 #for-sale {
   font-size: 27px;
   text-align: center;
   line-height: 0.9;
   text-transform: uppercase;
   transform: skew(1deg, 16deg) scale(-1,1);
   color: #897ef6;
   top: 500px;
   left: 453px;
   font-weight: 500;
   text-shadow: 0 0 80px #ffaffe, 0 0 20px #d633ff, 0 0 10px #c300ff, 0 0 7px #ff00f3, 0 0 3px #ff03c7;
 }

 #pd-wall {
   transform: skew(1.6deg, -34.2deg);
   width: 250px;
   height: 696px;
   overflow: hidden;
   display: block;
   top: 1px;
   left: 976px;
   padding: 3px 8px;
   box-sizing: border-box;
   font-size: 16px;
   font-weight: 300;
   line-height: 1.7;
   letter-spacing: 0.03em;
 }

 #pd-wall > *:nth-child(odd) {
   color: #36e1dd;
 }

 #pd-wall > *::after {
   content: "- ";
 }

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {display: none !important;}
.visuallyhidden {border: 0; clip: rect(0 0 0 0); -webkit-clip-path: inset(50%); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; white-space: nowrap;}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {clip: auto; -webkit-clip-path: none; clip-path: none; height: auto; margin: 0; overflow: visible; position: static; width: auto; white-space: inherit;}
.invisible {visibility: hidden;}
.clearfix:before, .clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
